@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-bg: #faf9f6;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: var(--light-bg);
  display: grid;
  grid-template-columns: 220px 1fr;
}

.main-content {
  display: grid;
  grid-template-rows: 60px 1fr;
}

.content {
  width: 100%;
  height: 100%;
}

.content .container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.content .container h2 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  line-height: clamp(1.5rem, 4vw, 2.5rem);
}

.content .container .button-container {
  width: max(35%, 200px);
  display: flex;
  gap: 1rem;
}

.content .container .button-container .btn {
  width: 50%;
  border: 3px solid #007fff;
  border-radius: 0.5rem;
  color: #007fff;
  background-color: #ffffff;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

.content .container .button-container .btn:hover {
  background-color: #d2e9ff;
}

.content .container .button-container .btn.active {
  background-color: #007fff;
  color: #ffffff;
}

.content .container .button-container .btn.active:hover {
  background-color: #006bd7;
}

.content .container form {
  width: max(35%, 200px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content .container select {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  text-align: center;
  border: none;
  outline: none;
  appearance: none;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
}

.content .container button {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #007fff;
  border: none;
  color: #ffffff;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.content .container button:hover {
  background-color: #006bd7;
}
