@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-bg: #faf9f6;
  --bg-back-btn: #131315;
  --bg-back-hover: #2a2a2c;
  --shadow: rgb(0, 0, 0, 0.25);
  --shadow-box: rgb(0, 0, 0, 0.1);
  --bg-btn: #007fff;
  --bg-btn-hover: #006ad5;
  --bg-remove-btn: #c6011f;
  --bg-remove-btn-hover: #a20018;
  --grid-input: 10fr 22fr 7fr 5fr 7fr 10fr 10fr 10fr 5fr;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: var(--light-bg);
}

section {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

section .container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BACK BUTTON */

section .container .back-btn {
  position: absolute;
  display: grid;
  place-items: center;
  height: 40px;
  width: 5rem;
  border-radius: 20px;
  top: 0;
  left: 0;
  background-color: var(--bg-back-btn);
  color: var(--light-bg);
  font-family: "poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 0 20px var(--shadow);
  transition: 0.3s ease;
}

section .container .back-btn:hover {
  background-color: var(--bg-back-hover);
}

/* END BACK BUTTON */

section .container h1 {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

section .container .input-container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  box-shadow: 0 0 20px var(--shadow-box);
  border-radius: 1rem;
}

section .container .input-container form {
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
}

section .container .input-container form .input-header {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: var(--grid-input);
}

section .container .input-container form .input-header div {
  display: grid;
  place-items: center;
  font-family: "source code pro", "poppins", sans-serif;
  font-weight: 600;
}

section .container .input-container form .input-row {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: var(--grid-input);
}

section .container .input-container form .input-row div {
  display: grid;
  place-items: center;
}

section .container .input-container form .input-row div input {
  width: calc(100% - 1rem);
  height: calc(100% - 0.5rem);
  outline: none;
  border: 1px solid var(--shadow);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  display: grid;
  place-items: center;
}

section .container .input-container form .input-row div select {
  width: calc(100% - 1rem);
  height: calc(100% - 0.5rem);
  outline: none;
  border: 1px solid var(--shadow);
  border-radius: 0.5rem;
  appearance: none;
  padding: 0 0.5rem;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  display: grid;
  place-items: center;
}

section .container .input-container form .input-row div button {
  height: calc(100% - 0.5rem);
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  background-color: var(--bg-btn);
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

section .container .input-container form .input-row div button:hover {
  background-color: var(--bg-btn-hover);
}

section .container .input-container form .input-row div button[name="remove"] {
  background-color: #c6011f;
}

section
  .container
  .input-container
  form
  .input-row
  div
  button[name="remove"]:hover {
  background-color: var(--bg-remove-btn-hover);
}
