@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-bg: #faf9f6;
  --bg-back-btn: #131315;
  --bg-back-hover: #2a2a2c;
  --shadow: rgb(0, 0, 0, 0.25);
  --shadow-box: rgb(0, 0, 0, 0.1);
  --bg-btn: #007fff;
  --bg-btn-hover: #006ad5;
  --bg-remove-btn: #c6011f;
  --bg-remove-btn-hover: #a20018;
  --grid-input: 30fr 10fr 10fr 3fr;
  --popup-grid: 2fr 5fr 5fr 5fr 5fr;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: var(--light-bg);
  display: grid;
  grid-template-columns: 220px 1fr;
}

.main-content {
  display: grid;
  grid-template-rows: 60px 1fr;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

.content .overlay-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  place-items: center;
}

.content .overlay-popup.active {
  display: grid;
}

.content .overlay-popup .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow);
}

.content .overlay-popup .popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  max-width: 50rem;
  gap: 0.5rem;
  z-index: 2;
}

.content .overlay-popup .popup-container a {
  text-decoration: none;
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  color: var(--bg-back-btn);
  width: 100%;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.content .overlay-popup .popup-container a:hover {
  background-color: var(--bg-back-btn);
  color: var(--light-bg);
}

.content .overlay-popup .popup-container .popup-content-container {
  background-color: var(--light-bg);
  padding: 1rem;
  border-radius: 0.5rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.content
  .overlay-popup
  .popup-container
  .popup-content-container
  .popup-content {
  width: 100%;
}

.popup-content .table-container {
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  padding-bottom: 1rem;
  overflow-y: auto;
}

.popup-content .table-container::-webkit-scrollbar {
  width: 4px;
}
.popup-content .table-container::-webkit-scrollbar-thumb {
  background: var(--bg-back-hover);
  border-radius: 1rem;
}
.popup-content .table-container::-webkit-scrollbar-track {
  background: var(--light-bg);
}

.popup-content .table-container .table-header {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: var(--popup-grid);
  border-bottom: 2px solid var(--bg-back-hover);
}

.popup-content .table-container .table-header div {
  display: grid;
  place-items: center;
  font-family: "source code pro", "poppins", sans-serif;
  font-weight: 600;
  padding: 0 0.5rem;
}

.popup-content .table-container .table-row {
  width: 100%;
  height: 2.4rem;
  display: grid;
  grid-template-columns: var(--popup-grid);
  border-bottom: 1px solid var(--bg-back-hover);
}

.popup-content .table-container .table-row div {
  display: grid;
  place-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}

.content
  .overlay-popup
  .popup-container
  .popup-content-container
  #popup-header {
  width: 100%;
  height: 100%;
  font-family: "poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.content .overlay-popup .popup-container .popup-content-container form {
  width: 100%;
  display: grid;
  place-items: center;
}

.content .overlay-popup .popup-container .popup-content-container form button {
  background-color: var(--bg-remove-btn);
  border: none;
  color: var(--light-bg);
  font-family: "poppins", sans-serif;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.content
  .overlay-popup
  .popup-container
  .popup-content-container
  form
  button:hover {
  background-color: var(--bg-remove-btn-hover);
}

.content .container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.content .container .search-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.content .container .search-container input {
  outline: none;
  border: none;
  padding: 0.5rem;
  width: 15rem;
  border-radius: 0.5rem;
  font-family: "poppins", sans-serif;
  border: 1px solid var(--shadow-box);
  transition: 0.3s ease;
}

.content .container .search-container input:focus {
  border: 1px solid var(--shadow);
  width: 20rem;
}

.content .container .table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px var(--shadow-box);
  padding: 0 1rem;
  padding-bottom: 1rem;
}

.content .container .table-container .table-header {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: var(--grid-input);
  border-bottom: 2px solid var(--bg-back-hover);
}

.content .container .table-container .table-header div {
  display: grid;
  place-items: center;
  font-family: "source code pro", "poppins", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.content .container .table-container .table-row {
  width: 100%;
  height: 2.4rem;
  display: grid;
  grid-template-columns: var(--grid-input);
  border-bottom: 1px solid var(--bg-back-hover);
}

.content .container .table-container .table-row div {
  display: grid;
  place-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.content .container .table-container .table-row div button {
  height: calc(100% - 0.5rem);
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.content .container .pagination {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content .container .pagination a {
  height: 1.5rem;
  line-height: 1rem;
  aspect-ratio: 1/1;
  text-decoration: none;
  color: var(--bg-back-btn);
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: 0.3s ease;
}

.content .container .pagination a:hover {
  background-color: var(--shadow-box);
}
