@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-bg: #faf9f6;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: var(--light-bg);
  display: grid;
  grid-template-columns: 220px 1fr;
}

.main-content {
  display: grid;
  grid-template-rows: 60px 1fr;
}

.content {
  width: 100%;
  height: 100%;
}

.content .container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* Cards */

.content .container .card-container {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  gap: 2.5rem;
}

.content .container .card-container .card {
  width: 25%;
  min-width: 200px;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  gap: 0.5rem;
  padding: clamp(1rem, 2vw, 1.5rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.content .container .card-container .card:nth-child(1) {
  background-color: #0d6efd;
}

.content .container .card-container .card:nth-child(2) {
  background-color: #198754;
}

.content .container .card-container .card:nth-child(3) {
  background-color: #ffc107;
}

.content .container .card-container .card svg {
  height: 100%;
}

.content .container .card-container .card svg path {
  fill: rgb(255, 255, 255, 0.9);
}

.content .container .card-container .card .text-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.content .container .card-container .card .text-container .jumlah {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
  color: #fff;
}

.content .container .card-container .card .text-container .nama {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
  color: #fff;
}

/* Table */

.content .container .table-container {
  width: 100%;
  flex: 1;
  overflow: hidden;
  padding: 1.5rem 1rem 1rem;
}

.content .container .table-container .log-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-height: clamp(300px, 56.5vh, 800px);
}

.content .container .table-container .log-table .table-header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-shrink: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.content .container .table-container .log-table .table-header .header-item {
  height: 100%;
  font-weight: 700;
  display: grid;
  place-items: center;
}

.content
  .container
  .table-container
  .log-table
  .table-header
  .header-item:nth-child(1) {
  width: 5%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.content
  .container
  .table-container
  .log-table
  .table-header
  .header-item:nth-child(2) {
  width: 30%;
  border-right: 1px solid #ccc;
}

.content
  .container
  .table-container
  .log-table
  .table-header
  .header-item:nth-child(3) {
  width: 15%;
  border-right: 1px solid #ccc;
}

.content
  .container
  .table-container
  .log-table
  .table-header
  .header-item:nth-child(4) {
  width: 30%;
  border-right: 1px solid #ccc;
}

.content
  .container
  .table-container
  .log-table
  .table-header
  .header-item:nth-child(5) {
  width: 20%;
  border-right: 1px solid #ccc;
}

.content .container .table-container .log-table .table-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.content .container .table-container .log-table .table-body::-webkit-scrollbar {
  display: none;
}

.content .container .table-container .log-table .table-body .row {
  width: 100%;
  min-height: 50px;
  height: auto;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.content .container .table-container .log-table .table-body .row .body-item {
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
}

.content
  .container
  .table-container
  .log-table
  .table-body
  .row
  .body-item:nth-child(1) {
  width: 5%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.content
  .container
  .table-container
  .log-table
  .table-body
  .row
  .body-item:nth-child(2) {
  width: 30%;
  border-right: 1px solid #ccc;
}

.content
  .container
  .table-container
  .log-table
  .table-body
  .row
  .body-item:nth-child(3) {
  width: 15%;
  border-right: 1px solid #ccc;
}

.content
  .container
  .table-container
  .log-table
  .table-body
  .row
  .body-item:nth-child(4) {
  width: 30%;
  border-right: 1px solid #ccc;
}

.content
  .container
  .table-container
  .log-table
  .table-body
  .row
  .body-item:nth-child(5) {
  width: 20%;
  border-right: 1px solid #ccc;
}
