@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: #131315;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container img {
  width: min(400px, 80vw);
  height: auto;
  max-width: 100%;
}

.container .login-box {
  width: 400px;
}

.container .login-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container .login-box form .input-group {
  width: 90%;
  display: flex;
  overflow: hidden;
  height: 40px;
  border-radius: 20px;
}

.container .login-box form .input-group label {
  background-color: #bdbdbd;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 2px solid #131315;
}

.container .login-box form .input-group label svg {
  width: 20px;
  aspect-ratio: 1/1;
  margin: 0.5rem;
  fill: #131315;
}

.container .login-box form .input-group input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  /* background-color: #262629; */
  background-color: #fff;
  border: none;
  outline: none;
  font-weight: 600;
  color: #131315;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.container .login-box form button {
  width: 90%;
  height: 40px;
  border-radius: 20px;
  background-color: #007fff;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: 0.3s ease;
}

.container .login-box form button:hover {
  background-color: #0066cc;
}
